@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.bg{
    background-image: url("https://source.unsplash.com/5RfYpk8sL8U");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: -30px;
    left: -30px;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
    filter: blur(0px);
}

.loading-text{
    font-size: 3rem;
    color: #fff;
}
